/* src/components/FarmingQA.css */
#farming-qa {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #A5D6A7; /* Green border */
    border-radius: 10px;
    background: linear-gradient(145deg, #c8e6c9, #a5d6a7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#farming-qa h2 {
    color: #1B5E20; /* Dark green */
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.flashcards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Increased gap between flashcards */
    justify-content: center;
}

.flashcard {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transition: transform 0.6s;
}

.flashcard .front, .flashcard .back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #FFFFFF;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s, background-color 0.3s, box-shadow 0.3s;
}

.flashcard .front {
    background-color: #66BB6A; /* Green color */
}

.flashcard .back {
    background-color: #81C784; /* Lighter green color */
    transform: rotateY(180deg);
}

.flashcard.flipped .front {
    transform: rotateY(180deg);
}

.flashcard.flipped .back {
    transform: rotateY(0deg);
}

.flashcard:hover {
    transform: scale(1.05);
}

.flashcard:hover .front, .flashcard:hover .back {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flashcard h3, .flashcard p {
    margin: 0;
}

.flashcard p{
    font-size: 1em;
    line-height: 1.6;
}